// COLORS

// /Primary

// - Desaturated Red:
$ds-red: hsl(0, 36%, 70%);

// - Soft Red:
$sf-red: hsl(0, 93%, 68%);

// Neutral

// - Dark Grayish Red:
$dg-red: hsl(0, 6%, 24%);

// Gradients

// background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
// background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// FONTS
// Weights: 300, 400, 600

@font-face {
    font-family: Josefin Sans;
    src: url(fonts/JosefinSans-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: Josefin Sans Light;
    src: url(fonts/JosefinSans-Light.ttf) format("truetype");
}
@font-face {
    font-family: Josefin Sans Semibold;
    src: url(fonts/JosefinSans-SemiBold.ttf) format("truetype");
}

body {
    font-family: Josefin Sans, sans-serif;
    font-size: 16px;
    color: $ds-red;
    margin: 0;
    background-image: linear-gradient(
        135deg,
        hsl(0, 0%, 100%),
        hsl(0, 100%, 98%)
    );
}

.logo {
    width: 100px;
    padding: 30px;
}

#hero-mobile {
    width: 100%;
}
#hero-desktop {
    display: none;
}

h1 {
    font-family: Josefin Sans Light, sans-serif;
    margin: 0;
    padding: 60px 30px 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;

    strong {
        color: black;
        font-family: Josefin Sans Semibold, sans-serif;
    }
}

.main-text {
    font-size: 14px;
    padding: 0 40px 15px;
    text-align: center;
    line-height: 21px;
    margin: 0;
}

.email-div {
    margin: 20px 30px 10px;
    height: 45px;
    border: 2px rgba($color: #000000, $alpha: 0.15) solid;
    border-radius: 24.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        font-family: Josefin Sans, sans-serif;
        font-size: 14px;
        border: none;
        padding-left: 20px;
        width: 100%;
        background-color: transparent;
        outline: none;
        opacity: 0.5;
    }

    #error {
        display: none;
        position: relative;
        height: 20px;
        right: 10px;
    }

    .button-div {
        display: flex;
        align-items: center;

        button {
            background-image: linear-gradient(
                135deg,
                hsl(0, 80%, 86%),
                hsl(0, 74%, 74%)
            );
            position: relative;
            left: 2px;
            display: flex;
            align-items: center;
            padding: 14.5px 25px;
            border: none;
            border-radius: 24.5px;
            box-shadow: 0px 10px 20px hsl(0, 100%, 91%);
            opacity: 1;
        }
    }
}

.email-div-focus {
    border: 2px black solid;
}

.email-div-error {
    border: 2px $sf-red solid;
}

.button-div button:hover {
    opacity: 0.5;
    padding: 14.5px 35px;
    transition: 0.5s;
}
.button-div button:active {
    opacity: 1;
    padding: 14.5px 35px;
    transition: 0.2s;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $ds-red;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $ds-red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $ds-red;
}

.success-msg {
    font-size: 12px;
    text-align: left;
    display: none;
    margin-left: 50px;
}

.error-msg {
    font-size: 12px;
    text-align: left;
    color: $sf-red;
    display: none;
    margin-left: 50px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 50px 30px 20px;
}
.attribution a {
    color: black;
}

@media only screen and (min-width: 800px) {
    html {
        height: 100vh;
    }

    body {
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: 1500px;
        background-position-y: -400px;
        background-position-x: -50px;
        background-repeat: no-repeat;
        display: flex;
        height: 100vh;
    }

    .all-but-img {
        padding: 70px 16% 0 12% ;
    }

    .logo {
        width: 175px;
        padding: 0;
    }

    h1 {
        font-size: 4.1rem;
        text-align: left;
        padding: 0;
        margin: 130px 0 0 0;
        letter-spacing: 18px;
    }

    .main-text {
        padding: 0;
        text-align: left;
        margin: 25px 0 0 0;
        font-size: 1rem;
        line-height: 25px;
    }

    .email-div {
        margin: 30px 0 0 0;

        input {
            font-size: 1rem;
        }

        .button-div {
            button {
                padding: 14.5px 35px;

            }
        }
    }

    .success-msg, .error-msg {
        font-size: 15px;
        margin-left: 20px;
    }
    
    #hero-mobile {
        display: none;
    }
    #hero-desktop {
        display: inherit;
        // width: 42%;
    }

    .attribution {
        margin-top: 50px;
    }
}
